<html>
    <head>
        <style>
            h1 {
                font-family: Verdana, sans-serif;
                color: black;
                text-align: center;
                font-size:35px
            }
            
            h3, p {
                font-family: Verdana, sans-serif;
                color: black;
                text-align: left;
                font-size:18px
            
            }
            
           .image {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
            
        </style>
        
        <h1>The Dining Hall was Ditched.</h1>
    </head>
    <body>
        <p>You should check these options out:</p>
       
        <p>{{locationsList}}</p>
    </body>
    
    <footer><style>
                  table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }

                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }

                tr:nth-child(even) {
                  background-color: #dddddd;
                }
        

                .footer {
                  position: fixed;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  text-align: center;
                }

            </style>
               <div class="footer">
                   <table>
                      <tr>
                        <th>Developers</th>
                        <th>Contact</th>
                      </tr>
                      <tr>
                        <td>Sterling Bhollah</td>
                        <td>sbhollah@nd.edu</td>
                      </tr>
                      <tr>
                        <td>Colton R. Crum</td>
                        <td>ccrum@nd.edu</td>
                      </tr>
                   
                    </table>
        </div>
    </footer>
</html>